html{
    scroll-behavior :smooth;
}

body{
    font-family: sans-serif;
    /*background: white;*/
    color: #283044;
    height: 100%;
    margin: 0;
    font-size: 18px;
}

* {
   margin: 0px;
   padding: 0px;
}


hr {
    width: 89%;
}

.main {

}

.footer {
    display: flex;
    justify-content: center;
}

.footer-content {
    width: 98%;
    border-top: solid;
    border-width: 1px;
    margin-top: 50px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.navigation {
    display: flex;
    justify-content: center;
    background: white;
    opacity: 0.8;
}

.navigation ul{
    width: 98%;
    padding: 0;
    padding-bottom: 5px;
    list-style-type: none;
    border-bottom: solid;
    border-width: 1px;
    position: fixed;
    background: white;
}

.navigation li {
}

.navigation li span {
    float: left;
    display: block;
    color: #283044;
    padding: 8px 16px;
    /*text-decoration: none;*/
}

.navigation li a {
    float: right;
    display: block;
    color: #283044;
    padding: 8px 16px;
    text-decoration: none;

}

.navigation:hover {
    opacity: 1.0;
}

.navigation li a:hover {
    color: gray;
}

.title {
    padding: 100px;
    padding-bottom: 40px;
    text-align: center;
}

.me img {
    width: 300px;
    border-radius: 400px;
}

.name {
    font-size: 80px;
}

.name span {
    opacity: 0.6;
}

.contacts {
    list-style-type: none;
    padding-top: 20px;
}

.contacts li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.contacts li a:hover {
    opacity: 0.3;
}

.desc {
    padding: 20px;
}

.content {
    padding: 10px 50px 10px 50px;
    width: 70%;
    /*background: #EBF5EE;*/
    border-left-style: solid;
    border-right-style: solid;
    border-width: 15px;
    max-width: 670px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.content i {
    float: right;
    opacity: 0.6;
}

.content-desc {
    padding: 0;
}

.content-subdesc {
    font-size: 35px;
    padding: 15px;
    padding-left: 0px;
}

.content-details {
    float: left;
    padding-left: 20px;
}

.content-details span {
    float: left;
    text-align: left;
    opacity: 0.6;
    /*color: #8B786D;*/
}

.content-details ul {
    list-style-type: none;
}

.content-details li {
    float: left;
    padding-left: 20px;
    padding-top: 5px;
}


.center {
    display: flex;
    justify-content: center;
}