html {
    scroll-behavior :smooth;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 21px;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

.c4-izmir {
    --primary-color: #D63D2E;
    --secondary-color: #606060;
    --border-margin: 10px;
    --border-width: 1px;
    --overlay-opacity: .5;
    --padding: 0.5em;
}

.red {
    color: #D63D2E;
    font-weight: normal;
}

.card {
    border: none;
}

#container-project img{
    width: 100%;
}

#row-contact img {
    height: 23px;
}

.tab-pane li{
    margin: 10px 0;
}

.tab-pane .card-title {
    font-size: 27px;
    font-weight: bold;
}

.tab-pane .card-subtitle .left {
    color: #D63D2E;
}

.tab-pane .card-subtitle .float-right {
    color: #606060;
}

.card-header {
    border-top: 1px solid #606060;
    border-bottom: 1px solid #606060;
    height: 45px;
}


.nav .active {
    color: #606060;
    font-size: 21px;
    font-weight: bold;
}

.nav-link {
    color: black;
    margin-top: -15px;
}

.nav-link:hover {
    color: #D63D2E;
}

.list-inline li:after {
    content:'∙'; 
    margin-left: 10px;
}

.list-inline li:first-child {
    color: #606060;
}

.list-inline li:last-child:after {
    content: '';
}


.col-project {
    min-width: 250px;
}