html {
    scroll-behavior :smooth;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 21px;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #D63D2E;
}

i {
    color: black;
}

i:hover {
    color: #D63D2E;
}

.red {
    color: #D63D2E;
}

.grey {
    color: #606060;
}

.disabled-item {
    color: #606060;   
}

.disabled-item:hover {
    color: #606060;   
}

.card {
    border: none;
}

.nav-link {
    color: black;
    margin-top: -15px;
}

.nav-link:hover {
    color: #D63D2E;
}

.nav .active {
    color: #606060;
    font-size: 21px;
    font-weight: bold;
}

.card-header {
    border-top: 1px solid #606060;
    border-bottom: 1px solid #606060;
}

.list-inline li:after {
    content:'∙'; 
    margin-left: 10px;
}

.list-inline li:first-child {
    color: #606060;
}

.list-inline li:last-child:after {
    content: '';
}


.list-group-item {
    border-radius: 2px;
}

.list-group-item:first-child {
    border-radius: 2px;
}

.list-group-item:last-child {
    border-radius: 2px;
}